.nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.link {
  color: black;
  text-decoration: none;
  padding: 4px;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: #110d39;
  text-decoration: underline;
}

.subNav {
  display: flex;
  gap: 28px;
}