.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  border: 1px solid #302d2d;
  padding: 10px;
  border-radius: 4px;
  justify-content: center;
}

.label {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.btn {
  width: fit-content;
  justify-content: center;
  align-self: center;
}

.error {
  color: red;
  font-size: 12px;
}