body {
  font-family: sans-serif;
  line-height: 1.5;
  padding: 10px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.subNav {
  display: flex;
  gap: 28px;
}

.link {
  color: black;
  text-decoration: none;
  padding: 4px;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: #0d018a;
  text-decoration: underline;
}